<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="todo_tracker.css" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <title>TODO Tracker -- TODO Details</title>
</head>
<body ng-app="todoTrackerApp">
  <!-- or "container-fluid" -->
  <div ng-controller="todoDetails">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr>
        <h1 class="text-center csblue"><a href="/">TODO Tracker</a></h1>
      </div>
    </div>
    <div class="row header-bar" style="margin-bottom:18px">
      <div class="col-md-12">
        <h4>TODO Details</h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
    <!-- List each detail info-->
    <!-- TODO: Treat the context specially, and include buttons to increase the number of lines above/below the todo to display -->
    <div class="row alternate_row" ng-repeat="detail in todoDetails">
      <div class="col-md-2">
        {{detail.key}}
      </div>
      <div class="col-md-10">
        <a href="{{detail.link}}" ng-if="detail.hasLink">
          <pre class="nobg-noborder" ng-if="detail.htmlPre">{{detail.value}}</pre>
          <span ng-if="!detail.htmlPre">{{detail.value}}</span>
        </a>
        <span ng-if="!detail.hasLink">
          <pre class="nobg-noborder" ng-if="detail.htmlPre">{{detail.value}}</pre>
          <span ng-if="!detail.htmlPre">{{detail.value}}</span>
        </span>
      </div>
    </div>
  </div>
  <script src="todo_tracker.js"></script>
</body>
</html>
