.alternate_row:nth-child(even){
  background-color: #f4f4f4;
}
.alternate_row:nth-child(odd){
  background-color: #ffffff;
}

table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

.csblue {
  color:#4787ed;
}

.header-bar {
  background-color:#bcf;
  /* margin-bottom: 8px; */
}

.header-bar-lighter {
  background-color:#e3e9ff;
  margin-top: 18px;
  margin-bottom: 12px;
}

.header-bar-text {
  color:#888;
}

pre.nobg-noborder {
  border: 0px;
  background-color: inherit;
  padding: inherit;
}

a:link {
  color:black;
}
